# Node
node_modules/
*.log
dist/

# Python
__pycache__/
*.pyc
.venv/
env/
venv/

# Build outputs
web-application/frontend/dist/
browser-extension/dist/

# OS/IDE
.DS_Store
.idea/
.vscode/

# Env
.env

